div{
  background-color: ;
  width: 800px;
  border: 4px solid orange;
  padding: 30px;
  margin: 10px;
  position:relative;
  left: 12px;
  top: 30px;
  color: white;
}

*{
    margin: 10px;
    background-color: steelblue;
    color: white;
    font-family: monospace, sans-serif;
}